 .green{
    border-style: solid ;
    background-color:  #7FFF00;
    height: 80px;

 }

.blue{
    border-style: dotted;
    border-color:  #6363BB ;
    color: #6363BB;
    height: 80px;

    background-color: #07D1D1 ;
}
 
.yellow{
border-style: solid ;
height: 80px;

background-color:#FFDD00 ;
border-color: #F14A0D;
color: #F14A0D;
}

.purple{
    height: 80px;
  border-style: dotted   ; 
  background-color:  #B9B1ED; 
  border-color: #362A9D;
  color: #362A9D;
}
div{
    
    text-align: center;
    
    width: 50%;
    margin: auto;
}