
table {
  
    border-collapse: collapse;
    border-bottom-style:inset;
   border-color: #E6D3E9;
   
    width: 100%;
  }

 
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #E6D3E9;}


.center{
    text-align: center;
  }

