

#gallary{
   padding-left: 0;
    
    box-sizing: border-box;
    border: 5px ;
    background: rgb(230, 117, 183);
     font-size:25px;
     display: inline-block;
     border-top-right-radius:  25px;
     border-bottom-left-radius:  25px;
    height: 40px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color:rgb(22, 3, 73);
    
  

} 
