body{
    background-image: url(../image/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.circle{
    background-image: url(../image/daymountainl\ .jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;

    border-radius: 50%;
    margin-top: 100px;
    margin-left: 100px;

    text-align: center;
    height: 300px;
    width: 300px;
}

h3{
    padding-top: 100px;

}

.title{
    text-align: center;
    color: white;
}

