* {
    margin: 0;
}

div {
    background: green;
    /* width: 200px; */
    height: 150px;
    /* overflow: auto; */
    /* min-height: 350px; */
    /* max-height: 150px; */
    max-width: 150px
}