.borderlink{
    
    font-size:25px;
    border-style: solid;
    display: block;

    border-top-right-radius:  25px;
    border-bottom-left-radius:  25px;
   margin: auto;
 
    height: 40px;
    width: 100px;
  
    text-align: center;
    text-decoration: none;

    color:   rgb(231, 134, 223);
    background-color:#941077
      
}
#Top{
    

    margin-top: -55%;
}
.center{
  

    display: block;
   margin: auto;
   padding:0%;
   padding-top: 5%;
    width: 50%;
}

.left{
  
    display: block;
    margin-left:1px;
    padding-bottom:1%;
    width:20%;
    height: auto;

}

#pic{
    display: block;
     margin-right: auto;
     margin-bottom: auto;

  
    height:100px;
    width: 130p1x;
    border-style: solid ;

}

#padding{

   
   padding: auto;
    padding-bottom:2%;
}

#background{
background-color: rgb(193, 13, 199);

}

html{
    background-color: rgb(200, 253, 253);
}
.mixborder{
  
    display: block;
     
    border-style: dotted dashed solid double;
    width:auto;
    height: auto;
    border-color:#aa1696;
    color: #9d13dd;
   
}
.colortext{
    color: rgb(68, 10, 68);
}
#colorpage{
    background-color:#f8dee0;
}

#img{

   
    display:block;
   margin: auto;
   width: auto;
   height: auto;
   padding: auto;
}

#back{


    font-size:25px;
    border-style: solid;
    display:block;
    margin-top: auto;
    margin-right: auto;
    border-top-right-radius:  10px;
    border-bottom-left-radius:  25px;
    padding: 0%;
    height: 40px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color:   rgb(230, 221, 229);
    background-color:#09045c
}

.overflow{

    overflow-x: hidden;
  
}


