h1{

    color: darkblue;
}

h1#title{
    color: crimson;
}

h1#title2{
    color:green;
    font-size: 100px;
}

.color{
    color:cyan;
    font-size: 50;;
}

p{
    color:rgb(230, 226, 4);
    font-size: 25px;
}


