.borderlink{
    font-size:25px;
    border-style: solid;
    display: inline-block;
    border-top-right-radius:  25px;
    border-bottom-left-radius:  25px;
    margin-left:30%;
    height: 40px;
    width: 100px;
  
    text-align: center;
    text-decoration: none;

    color:   rgb(231, 134, 223);
    background-color:#941077
      
}
#Top{
    margin-top: -55%;
}
.center{

    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}

.left{
    display: block;
    margin-left:1px;

    width: 22%;
    height: auto;

}

#pic{
    height:100px;
    width: 130p1x;
    border-style: solid ;

}


#background{
background-color: rgb(193, 13, 199);

}

html{
    background-color: rgb(200, 253, 253);
}
.mixborder{

    border-style: dotted dashed solid double;
    width: 20%;
    height: auto;
    border-color:#aa1696;
    color: #9d13dd;
   
}
.colortext{
    color: rgb(68, 10, 68);
}
#colorpage{
    background-color:#f8dee0;
}

#img{
    
   width: 500px;
   height: 300px;
}



#back{

    font-size:25px;
    border-style: solid;
    display: inline-block;
    border-top-right-radius:  10px;
    border-bottom-left-radius:  25px;
  
    height: 40px;
    width: 100px;
  
    text-align: center;
    text-decoration: none;

    color:   rgb(230, 221, 229);
    background-color:#09045c
}

.overflow{

    overflow-x: hidden;
  
}


